img {
    max-height: 750px;
}

.carousel {
    max-height: 750px;
}

.display-4 {
    text-align: center;
}

#des1{
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

#desc{
    border: black;
}